<%= render 'shared/navbar' %>
<div class="container">
  <% @parties.order("id ASC").each_with_index do |party, index| %>
    <% if (index % 2  == 0) %>
      <div class="row my-2">
    <% end %>
      <div class="col-6">
        <div class="card-trip">
          <img src="https://image.harrods.com/15/15/69/52/15156952_25801611_2048.jpg" />
          <div class="card-trip-infos border-bottom">
            <h2><%= party.name %></h2>
          </div>
          <div class="card-trip-infos">
            <p><%= party.current_member %>/<%= party.max_member %></p>
            <%= simple_form_for @participate do |f| %>
              <%= f.input :holder, :as => :hidden, :input_html => { :value => party.id }%>
              <% if (@participates.where(party_id: party.id).where(user_id: current_user.id)).empty?  %>
                <%= f.button :submit , 'Join' , class: "btn btn-primary"%>
              <% else %>
                <%= f.button :submit , 'Join' , class: "btn btn-primary disabled"%>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% if (index % 2 == 1) %>
      </div>
    <% end %>
  <% end %>
</div>


